* {
  border-radius: 3px;
  font-family: JetBrainsMono Nerd Font;
}

.top-left-bar, .top-right-bar, .top-center-bar {
  background-color: transparent;
}

.cal {
  background-color: transparent;
}
.calendar {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 5px 5px 8px;
  color: #f4dbd6;
  border: none;
  border-radius: 20px;
  background-color: #313244;
}
calendar:indeterminate {
  color: #777777;
  font-weight: 100;
}
calendar {
  /* color: red; */
}
calendar.button {
  /* background-color: black; */
}
calendar:selected {
  color: #f5bde6;
  background-color: #282828
}
calendar.header {
  color: #f5bde6;
}
calendar.highlight {
  color: #f5bde6;
}

tooltip * {
    box-shadow: none;
}
tooltip.background {
    background-color: #313244;
    font-size: 18;
    border: none;
    border-radius: 20px;
}
tooltip label {
    margin: 6px;
    color: #f4dbd6;
}

