
s3_temp

configma/*/home/.config/configma/dumps
configma/*/home/.config/configma/profile.active.toml

*/home/.config/viper4linux/audio.conf
scripts/**/result
scripts/**/.direnv
flakes/**/result
flakes/**/.direnv
