layout {
    cwd "~/0Git/yankpass" 

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    pane_template name="jaro" {
        command "/home/issac/0Git/dotfiles/laptop/.config/zellij/dejaro.sh"
    }

    tab name="gitui" {
        pane start_suspended=true {
            command "gitui"
        }
    }
    tab name="helix" focus=true {
        jaro {
            args "hx" "."
        }
    }
    tab name="zsh" {
        pane
    }
    tab name="broot" {
        pane start_suspended=true {
            command "broot"
        }
    }
}
