* {
  border: none;
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font" ;
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-hyprkool-workspaces {
  font-size: 7px;
  color: #45475a;
  background: #a6e3a1;
  border-radius: 3px;
  padding: 2px;
  margin: 1px;
  margin-left: 8px;
}

#submap {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bd93f9;
}

#workspaces {
  margin-top: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  background: #DDB6F2;
}
#workspaces button {
  color: #161320;
  background: #bd93f9;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#network {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bd93f9;
}

#wireplumber {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #1A1826;
  background: #f4b8e4;
}

#pulseaudio {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #1A1826;
  background: #FAE3B0;
}

#battery {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #B5E8E0;
}

#battery.charging, #battery.plugged {
  color: #161320;
  background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
  background-color: #B5E8E0;
  color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}

#backlight {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #F8BD96;
}

#idle_inhibitor {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #FF9999;
}

#clock {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #ABE9B3;
  /*background: #1A1826;*/
}

#tray {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 3px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #B5E8E0;
  background: #96CDFB;
}

#custom-launcher {
  font-size: 24px;
  margin-top: 3px;
	margin-bottom: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #282828;
  background: #8caaee;
}

#power-profiles-daemon {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #F28FAD;
}

#custom-media {
  margin-top: 3px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #F2CDCD;
}
